.navContainer {
  padding-top: 1rem;
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 0%;
  transition: all 0.5s;

  animation: translateY ease-in-out 1s forwards;
}
.navigationToggler {
  font-size: clamp(12px, 1.3vw, 17px);
  padding-left: 0.7rem;
  max-width: 10rem;
  max-height: 28px;
  cursor: pointer;
  z-index: 5000000;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  transition: all 0.5sec;
  font-family: 'Pacifico', cursive;
}
.navigationToggler:hover {
  color: violet;
}
.navigationContainer {
  position: absolute;
  top: 5%;
  left: 0;
  background-color: black;
  color: white;
}
.navigationItem {
  margin-right: 3rem;
  width: 100%;
  height: 30px;
  color: inherit;
  font-size: clamp(1.5rem, 3vw, 2rem);
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}
.navigationItem:hover {
  color: blue;
  transform: scale(1.1);
}
.transition {
  position: absolute;
  z-index: 99999999;
  width: 100vw;
  height: 150vh;
  top: 0;
  left: 0;
  background: rgb(154, 210, 60);
  background: linear-gradient(
    90deg,
    rgba(154, 210, 60, 1) 0%,
    rgba(78, 9, 121, 1) 39%,
    rgba(119, 49, 172, 1) 70%,
    rgba(0, 212, 255, 1) 100%
  );
  animation: transition1 1s ease-in-out forwards;
}
.transition2 {
  position: absolute;
  z-index: 99999999;
  width: 100vw;
  height: 150vh;
  top: 0;
  left: 0;
  background: rgb(154, 210, 60);
  background: linear-gradient(
    90deg,
    rgba(154, 210, 60, 1) 0%,
    rgba(78, 9, 121, 1) 39%,
    rgba(119, 49, 172, 1) 70%,
    rgba(0, 212, 255, 1) 100%
  );
  animation: transition2 1s ease-in-out forwards;
}
@keyframes transition1 {
  0% {
    filter: invert(0);
    transform: translateX(-100vw);
  }
  100% {
    filter: invert(1);
    transform: translateX(0vw);
  }
}
@keyframes transition2 {
  0% {
    filter: invert(0);
    transform: translateX(-150vw);
  }
  100% {
    filter: invert(1);
    transform: translateX(-40vw);
  }
}

@keyframes translateX {
  0% {
    transform: rotateZ(0deg);
    transform: translateX(-30%);
  }
  100% {
    transform: rotateZ(130deg);
    transform: translateX(0%);
  }
}

@keyframes translateY {
  0% {
    opacity: 0;
    transform: translateY(-200%);
    transform-origin: 0 0;
    transform: rotateZ(269deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    transform-origin: 0 0;
    transform: rotateZ(269deg);
  }
}
